<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
  </head>

  <body>

    <%- include('../partials/header')%>

    <section>
        <!--main content table for ev car data-->
          <div class="container">
                <table class="table table-bordered">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">Location</th>
                      <th scope="col">Available</th>
                      <th scope="col">Occupied</th>
                      <th scope="col">Reserved</th>
                    </tr>
                  </thead>
                  <tbody class="table_body">
                    <tr>
                      <th id="locations1"></th>
                      <td id="available1"></td>
                      <td id="occupied1"></td>
                      <td id="reserved1"></td>
                    </tr>
                    <tr>
                      <th id="locations2"></th>
                      <td id="available2"></td>
                      <td id="occupied2"></td>
                      <td id="reserved2"></td>
                    </tr>
                    <tr>
                      <th id="locations3"></th>
                      <td id="available3"></td>
                      <td id="occupied3"></td>
                      <td id="reserved3"></td>
                    </tr>
                    <tr>
                      <th id="locations4"></th>
                      <td id="available4"></td>
                      <td id="occupied4"></td>
                      <td id="reserved4"></td>
                    </tr>
                    <tr>
                      <th id="locations5"></th>
                      <td id="available5"></td>
                      <td id="occupied5"></td>
                      <td id="reserved5"></td>
                    </tr>
                    <tr>
                      <th id="locations6"></th>
                      <td id="available6"></td>
                      <td id="occupied6"></td>
                      <td id="reserved6"></td>
                    </tr>
                    <tr>
                      <th id="locations7"></th>
                      <td id="available7"></td>
                      <td id="occupied7"></td>
                      <td id="reserved7"></td>
                    </tr>
                    <tr>
                      <th id="locations8"></th>
                      <td id="available8"></td>
                      <td id="occupied8"></td>
                      <td id="reserved8"></td>
                    </tr>
                    <tr>
                      <th id="locations9"></th>
                      <td id="available9"></td>
                      <td id="occupied9"></td>
                      <td id="reserved9"></td>
                    </tr>
                    <tr>
                      <th id="locations10"></th>
                      <td id="available10"></td>
                      <td id="occupied10"></td>
                      <td id="reserved10"></td>
                    </tr>
              </table>
          </div>
      </section>

      <footer>
        <%- include('../partials/footer')%>
      </footer>

  </body>
</html>