<!doctype html>
<html lang="en">
    
<head>
    <%- include('../partials/head')%>
</head>

<body>

    <%- include('../partials/header')%>

    <main>
        <div class="px-4 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-4" src="/final/public/media/logoFuel.png" alt="" width="200" height="200">
          <h1 class="display-5 fw-bold">Fuel Compare</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">We compare diffrent fuel prices at diffrent locations, so that you can find the cheaps fuel near you.</p>
            <p class="lead mb-4">We also show the availability of electric vehicle charge points</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
             <a href="/final/views/pages/EVchargePoints.ejs"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Coming soon</button></a> 
             <a href="/final/views/pages/EVchargePoints.ejs"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">EV Charge Points</button></a>
            </div>
          </div>
        </div>
      </main>

      <footer>
        <%- include('../partials/footer')%>
      </footer>

</body>
</html>