<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')%>
  </head>
  
<body>

    <%- include('../partials/header')%>

    <body class="text-center">
      <main>
        <div class="px-4 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-4" src="/media/logoFuel.png" alt="" width="200" height="200">
          <h1 class="display-5 fw-bold">Our Mission</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">At Fuel Compare we understand that finding your nearest electric vehicle charging point can sometimes be a challenging task. </p>
            <p class="lead mb-4">We have tried to make this process as simple as possible to ensure that people using electric vehicles are not hindered by their local knowledge.</p>
            <p class="lead mb-4">Our system is developed to ensure people can easily find available charging points while at home or on the go.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
          </div>
        </div>
      </main>

          <footer>
            <%- include('../partials/footer')%>
          </footer>
</body>

</html>
  