<div class="footer">
    <div class="buttoncontainer">
      <button type="button">Our Mission</button>
      <button type="button">About Us</button>
      <button type="button">Contact Us</button>
    </div>
  </div>