<div class="footer">
  <!-- bottom button links  -->
      <div class="buttoncontainer">
        <a href="/ourMission"><button type="button">Our Mission</button></a>
        <a href="/aboutUs"><button type="button">About Us</button></a>
        <a href="/contactUs"><button type="button">Contact Us</button></a>
      </div>
    </div>