<div class="footer">
    <div class="buttoncontainer">
      <a href="ourmission.html"><button type="button">Our Mission</button>
      <a href="aboutus.html"><button type="button">About Us</button>
      <a href="contactus.html"><button type="button">Contact Us</button>
    </div>
  </div>