<header class="p-3 text-white" style="background-color:#f59f21">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a><img src="/media/logoFuel.png" alt="" width="70" height="70" class="d-inline-block align-text-mid"></a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/login" class="nav-link px-2 text-white">Log in</a></li>
          <li><a href="/EVchargePoints" class="nav-link px-2 text-white">EV Charge Points</a></li>
        </ul>
        <div class="text-end">
         <a href="/login"><button type="button" class="btn btn-outline-warning me-2">Sign In</button></a> 
          <a href="/createAccount"><button type="button" class="btn btn-outline-warning me-2">Sign-up</button></a>
        </div>
      </div>
    </div>
  </header>